:root {
  --wp-cursor-color: black;
  --wp-channel-color: #ff0000;
  /*--wp-channel-progress-color: #f50;
   --wp-controls-border-color: #000;
    --wp-controls-background-color: #fff;
    --wp-mute-solo-color: #343a40;
    --wp-mute-solo-hover-color: #fff;
    --wp-mute-solo-focus-color: rgba(52, 58, 64, 0.5);
    --wp-btn-danger-background-hover-color: #c82333;
    --wp-btn-danger-border-hover-color: #bd2130;
    --wp-btn-danger-background-color: #dc3545;
    --wp-btn-danger-border-color: #dc3545;
    --wp-btn-danger-focus-color: rgba(225, 83, 97, 0.5);
    --wp-btn-danger-color: #fff;
    --wp-btn-info-background-hover-color: #138496;
    --wp-btn-info-border-hover-color: #117a8b;
    --wp-btn-info-background-color: #17a2b8;
    --wp-btn-info-border-color: #17a2b8;
    --wp-btn-info-focus-color: rgba(58, 176, 195, 0.5);
    --wp-btn-info-color: #fff;
    --wp-fade-background-color: #000000fc;
    --wp-channel-color: #000000;
    --wp-channel-progress-color: #8BC34A;
    --wp-cursor-color: red;
    --wp-selection-background-color: rgb(202 42 42);
    --wp-selection-point-color: red;
    --wp-tracks-container-background-color: #f8f9fa;
    --wp-range-slider-label-color: black;
    --wp-range-slider-color: goldenrod;
    --wp-range-slider-focus-color: black;
    --wp-range-slider-background-color: #ddd;
    --wp-range-slider-background-focus-color: #bbb;
    --wp-annotation-box-border-color: grey;
    --wp-annotation-current-background-color: #ebf4f6;
    --wp-annotation-icon-hover-color: orange; */
}
.playlist .selection.point {
  display: none;
}
.playlist {
  margin: 5px 0px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}
.playlist .controls {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.playlist-time-scale {
  background-color: #f8f9fa;
  border-left: 1px solid #dee2e6;
  border-radius: 0;
}
.playlist-tracks {
  background-color: #f8f9fa !important;
  border-left: 1px solid #dee2e6;
  border-radius: 0;
}
.playlist-tracks .channel-wrapper .waveform{
  background-color: #000 !important;
}
/* .playlist-tracks .channel-wrapper {
  border-bottom: 1px solid #dee2e6;
} */
/* .playlist-tracks .channel-wrapper.cata .waveform{ 
  background-color: #000 !important;
} */
.playlist-tracks .channel-wrapper.clave .waveform .channel, .playlist-tracks .channel-wrapper.click .waveform .channel{
  background-color: #ffffff;
}

.playlist-tracks .channel-wrapper.cata .waveform .channel{
  background-color: #009b41;
}

.playlist-tracks .channel-wrapper.chequere .waveform .channel{
  background-color: #f18d51;
}

.playlist-tracks .channel-wrapper.quinto .waveform .channel{
  background-color: #0aa9e3;
}

.playlist-tracks .channel-wrapper.conga .waveform .channel{
  background-color: #d14189;
}

.playlist-tracks .channel-wrapper.variacion-conga .waveform .channel{
  background-color: #ffed00;
}

.playlist-tracks .channel-wrapper.tumbadora .waveform .channel{
  background-color: #7fc386;
}

.playlist-tracks .channel-wrapper.campana .waveform .channel{
  background-color: #a03916;
}

.playlist-tracks .channel-wrapper.campana-variacion .waveform .channel{
  background-color: #977abc;
}

.playlist-tracks .channel-wrapper.chico .waveform .channel{
  background-color: #009640;
}

.playlist-tracks .channel-wrapper.quinto-repique .waveform .channel{
  background-color: #f18a5d;
}

.playlist-tracks .channel-wrapper.quinto-tumba .waveform .channel{
  background-color: #00b8f7;
}

.playlist-tracks .channel-wrapper.variacion-quinto-tumba .waveform .channel{
  background-color: #d83f8f;
}
.playlist-tracks .channel-wrapper.quinti-timbal .waveform .channel{
  background-color: #ffed00;
}
.playlist-tracks .channel-wrapper.quinti-bongo .waveform .channel{
  background-color: #009640;
}
.playlist-tracks .channel-wrapper.quinti-conga .waveform .channel{
  background-color: #f18a5d;
}
.playlist-tracks .channel-wrapper.quinti-campana .waveform .channel{
  background-color: #d83f8f;
}
.playlist-tracks .channel-wrapper.variacon-quinti-campana .waveform .channel{
  background-color: #00aeea;
}

.btn-group > .btn-solo.active {
  background-color: #198754;
  color: white;
}
.btn-group > .btn-solo {
  display: none;
}
.btn-group > .btn-solo.active:hover,
.btn-group > .btn-mute.active:hover {
  background-color: #dc3545;
}
.btn-group > .btn-mute.active,
.btn-group > .btn-mute:hover {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
}
.playlist .controls {
  border: 0px;
  border-radius: 0;
}
.playlist .controls .track-header {
  font-weight: bold;
  font-size: 16px;
}
.playlist .channel-wrapper .controls {
  background-color: #e0e0e0;
  border-bottom: 1px solid #444;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.playlist .channel-wrapper:nth-child(2n) .controls {
  background-color: #f1ecec;
}
.playlist
  .channel-wrapper:nth-child(2n)
  .controls
  .btn-group
  > .btn-solo.active {
  background-color: #198754;
  color: white;
}
